@charset "utf-8";

/*========= ローディングのCSS ===============*/
.pixel-spinner,
.pixel-spinner * {
	box-sizing: border-box;
}

.pixel-spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	height: 70px;
	width: 70px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.pixel-spinner .pixel-spinner-inner {
	width: calc(70px / 7);
	height: calc(70px / 7);
	background-color: #ff1d5e;
	color: #ff1d5e;
	box-shadow: 15px 15px 0 0,
		-15px -15px 0 0,
		15px -15px 0 0,
		-15px 15px 0 0,
		0 15px 0 0,
		15px 0 0 0,
		-15px 0 0 0,
		0 -15px 0 0;
	animation: pixel-spinner-animation 2000ms linear infinite;
}

@keyframes pixel-spinner-animation {
	50% {
		box-shadow: 20px 20px 0px 0px,
			-20px -20px 0px 0px,
			20px -20px 0px 0px,
			-20px 20px 0px 0px,
			0px 10px 0px 0px,
			10px 0px 0px 0px,
			-10px 0px 0px 0px,
			0px -10px 0px 0px;
	}

	75% {
		box-shadow: 20px 20px 0px 0px,
			-20px -20px 0px 0px,
			20px -20px 0px 0px,
			-20px 20px 0px 0px,
			0px 10px 0px 0px,
			10px 0px 0px 0px,
			-10px 0px 0px 0px,
			0px -10px 0px 0px;
	}

	100% {
		transform: rotate(360deg);
	}
}

.loaded {
	opacity: 0;
	visibility: hidden;
}

/*========= 背景動画設定のCSS ===============*/

/*header設定*/
#header {
	position: relative;
	/*h1の中央寄せ配置の起点とするためのrelative*/
	height: 100vh;
	/*高さを全画面にあわせる*/
}

#video-area {
	position: fixed;
	z-index: -1;
	/*最背面に設定*/
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	overflow: hidden;
}

#video {
	/*天地中央配置*/
	position: absolute;
	z-index: -1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/*縦横幅指定*/
	width: 177.77777778vh;
	/* 16:9 の幅→16 ÷ 9＝ 177.77% */
	height: 56.25vw;
	/* 16:9の幅 → 9 ÷ 16 = 56.25% */
	min-height: 100%;
	min-width: 100%;
}

/*見出し設定*/
h1 {
	/*要素の配置*/
	position: absolute;
	/*要素を天地中央寄せ*/
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	/*見た目の調整*/
	color: #fff;
	text-shadow: 0 0 15px #666;
}

/*========= レイアウトのためのCSS ===============*/

#container {
	background: rgba(13, 96, 128, 0.607);
	padding: 300px 0;
	text-align: center;
}

/*SNSアイコン*/
#sns-icons {
	background: rgba(255, 255, 255, 0.358);
	padding: 1% 0;
	position: fixed;
	right: -50px;
	bottom: 500px;
	transition: all 0.5s ease-in-out;
}

#sns-icons.active {
	right: 20px;
}

.textbox {
	position: absolute;
	left: -10px;
}

.SNS_Text {
	writing-mode: vertical-rl;
	text-orientation: upright;
}


ul.icon {
	list-style: none;
}

ul.icon>li::before {
	font-family: "Font Awesome 5 Brands";
	font-weight: 400;
	font-size: 2em;
	margin-right: 10px;
}

ul.icon>li.icon-twitter::before {
	content: "f099";
	color: #00acee;
}
